:root {
  font-family: 'Courier Prime', monospace;
}
/* Navigation menu/navigation bar */
/* Logo link frontpage */

/* logo div */
#logo{    
  display: flex;
  padding-left: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 20px;
  width: 50px;
  height: 50px;
  }


.nav {
    border-radius: 15px;
    background-color: grey;
    display: flex;
    overflow: hidden;
    align-items: center;
  }
  
  /* linkide stiil nav baris */
  .nav a{
    color: white;
    
    display: flex;
    text-align: center;
    padding: 28.433px 20px 28.433px 20px;
    text-decoration: none;
  }
  

  .nav li{
    float: left;
  }
  
  .nav li ~ li{
    float: right;
    border-left: 2px solid black;
  }
  
  .nav ul{margin-right: auto;
    margin-top: 0%;
    list-style: none;
    margin-bottom: 0%;
  }

  [id^=navItem]:hover{
    background-color: rgb(32, 14, 112);
  }
/* posts div */
.posts{      
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-left: 100px;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-right: 100px;
    background-color: lightgray;
  }

  .postImage {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

       /* image div */

  .postHeader {   
    overflow: hidden;
    align-items: center;
    text-align: right;
  }
  .postLogoImage {
    float: left;
    margin-left: auto;
    margin-right: auto;
    width: 43px;
    height: 47px;
  }
  .postHeader i{   
    float: right;
    position: relative;
    text-align: right;
  }

  /* ------Footer------ */
.footer {
    background-color: gray;
    padding: 10px;
    text-align: left;
  }
  
  .footer div {
    display: flex;
    flex-direction: column;
    padding: 20px;
  }

  .footer b + i {
    font-family: 'Comic Sans MS','Comic Sans', 'Chalkboard SE', 'Comic Neue', sans-serif;
  }

  div b {
    font-size:large;
  }

  /* -----Dropdown----- */
  /* Add these CSS rules to style the dropdown menu */
#userDropdown {
  display: none;
  position: absolute;
  top: 60px;
  right: 20px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

#userDropdown a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #333;
}

#userDropdown a:hover {
  background-color: #f0f0f0;
}

/* Show the dropdown when it's open */
#userDropdown.show-dropdown {
  display: block;
}
